* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
}
.content {
  max-width: 1200px;
  padding: 0 40px;
  margin: auto;
}
.header {
  display: flex;
  padding: 20px 0 40px;
  justify-content: space-between;
}
.headerleft {
  display: flex;
  align-items: center;
  img {
    width: 119px;
    height: auto;
    margin-right: 20px;
    align-items: center;
  }
  div {
    display: flex;
  }
  p {
    font-size: 16px;
    font-weight: 700;
    margin-right: 6px;
    transition: all 0.5s ease;
  }
}
.arrow {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.weather {
  display: flex;
  width: 271px; /* width: 100%; */
  p:first-child {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  p {
    font-size: 16px;
  }
  div {
    width: 100%;
  }
}
.weatheritem {
  display: flex;
  gap: 5px;
}
.section {
  border-radius: 10px;
  overflow: hidden;
}
.health {
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    #f4f4f4 7%,
    hsla(0, 0%, 100%, 0.220348) 17%
  );
  height: 396px;
  border-radius: 5px;
}
.yellow:hover {
  padding: 8px 20px;
}
.healthleft {
  padding-left: 40px;
  button {
    background: #c40097;
    background: linear-gradient(129deg, #c40097, #d6710b);
    background-image: linear-gradient(-120deg, #e08100, #c90027);
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.5s ease;
  }
  h2 {
    line-height: 36px;
    margin: 10px 0 20px;
    padding: 10px 30px 0 0;
    font-size: 26px;
  }
  p {
    margin: 10px 0 20 0px;
    opacity: 0.4;
    font-size: 13px;
    padding-right: 15px;
  }
  div {
    display: flex;
    height: 35px;
    width: 60px;
    padding: 5px 10px;
    background: #f0efef;
    border-radius: 20px;
    align-items: center;
    margin-top: 30px;
  }
  img {
    width: 16px;
    height: auto;
    margin-right: 5px;
  }
  span {
    font-weight: 700;
    color: #767676;
  }
}
.healthright {
  background-image: url("https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2024/12/326191-19122024-1734593986-1022467717-zurag-261.jpg");
  max-width: 554px;
  width: 100%;
  aspect-ratio: 554/396;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}
.hidden {
  color: #fff;
  font-weight: 700;
  opacity: 0;
}
.sectionCards {
  display: flex;
  margin-top: 30px;
  padding-bottom: 50px;
  gap: 13px;
}
.card {
  max-width: 270px;
  aspect-ratio: 270/283;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
}
.card-bg {
  width: 100%;
  aspect-ratio: 263/175;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
}
.cardtext {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0;
}
.cardsvg {
  display: flex;
  align-items: center;
  gap: 4px;
  span {
    color: #797878;
    font-weight: 500;
    font-size: 13px;
    margin-left: 5px;
  }
  img {
    width: 13px;
  }
}
.story {
  max-width: 1200px;
  width: 100%;
}
.bluespan {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0 20px;
  display: flex;
  align-items: center;
}
.bluespan span {
  margin-left: 10px;
  font-size: 12px;
  color: #fff;
  color: #fff;
  padding: 2px 3px;
  background-color: #00b0f4;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
}
.stories {
  display: flex;
  gap: 15px;
  /* overflow-x: scroll; */
  overflow: hidden;
  margin-bottom: 30px;
}
.cardtitle {
  max-height: 38px;
  overflow: hidden;
  font-size: 13px;
  transition: all 0.4s ease-in-out;
}
.storycard:hover .cardtitle {
  max-height: 100px;
}
.storycard {
  max-width: 173px;
  flex: 0 0 auto;
  width: 100%;
  background-size: 100%;
  aspect-ratio: 173 / 250;
  height: auto;
  border-radius: 5px;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  transition: all 0.5s ease;
}
.storycard:hover {
  background-size: 110%;
}
.storycard div:first-child img {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background: white;
  padding: 5px;
}
.storytext {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  div {
    display: flex;
    align-items: center;
  }
  svg {
    fill: white;
  }
}
.boldeye {
  font-size: 12px;
  font-weight: 900;
}
.rowcontainer {
  display: flex;
}
.dates {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
  p {
    color: #b7b6b6;
    font-size: 13px;
    text-align: center;
  }
  div {
    max-width: 104px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-top: 5px;
  }
}
.grey {
  width: 100%;
  height: 7px;
  background-color: #efefef;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.day {
  transition: all 0.5s ease;
}
.day:hover {
  transform: translateY(-4px);
}
.day:hover .grey {
  background-color: #407ce8;
}
.day:hover p {
  color: #407ce8;
}
.dates div:first-child div {
  background-color: #407ce8;
}
.dates div:first-child p {
  color: #407ce8;
}
.bluetext {
  display: flex;
  gap: 3px;
  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #407ce8;
  }
}
.rowright {
  max-width: 410px;
  width: 100%;
}
.rowleft {
  width: 100%;
}
.card2 {
  display: flex;
  margin-bottom: 30px;
}
.columncard {
  width: 100%;
  aspect-ratio: 290/170;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
}
.columnitem {
  margin-bottom: 30px;
  height: 245px;
}
.card-bg2 {
  width: 210px;
  height: 150px;
  border-radius: 10px;
}
.cardaside {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
}
.boldtext {
  font-weight: 700;
  font-size: 19px;
}
.greytext {
  height: 46px;
  overflow: hidden;
  color: #888;
  margin: 10px 0 15px;
}
.greytext2 {
  height: 46px;
  overflow: hidden;
  color: black;
  margin-top: 10px;
}
.sidebar {
  font-size: 15px;
}
.special {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 8px;
}
.story span {
  color: #fff;
  padding: 2px 3px;
  background-color: #00b0f4;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
}
.imgtitle {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 4px;
}
.news-feed {
  margin-top: 60px;
  .news-layout {
    display: flex;
    height: 514px;
    gap: 20px;
    .gradient {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
      padding: 20px;
    }
    .large-card,
    .small-card {
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: end;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.5s ease;
      background-size: 200%;
    }
    .large-card {
      max-width: 542px;
      width: calc(50%-10px);
      aspect-ratio: 542/500;
      flex-shrink: 1;
      img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 8px;
      }
      .tag {
        background-color: #407ce8;
        display: inline-block;
        color: #fff;
        font-weight: 700;
        font-size: 10px;
        padding: 2px 5px;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      .title {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
      }
      .detail {
        margin-top: 10px;
        font-size: 10px;
        color: white;
        border-top: #bdbdbd solid 1px;
        padding-top: 10px;
        margin-top: 10px;
      }
    }
    .small-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-height: 514px;
      width: calc(50% - 10px);
      .small-card {
        max-width: 268px;
        aspect-ratio: 268/243;
        width: 100%;
        box-sizing: border-box;
        max-height: 243px;
        width: calc(50% - 10px);
        img {
          width: 100%;
          height: auto;
          margin-bottom: 10px;
          border-radius: 8px;
        }
        .tag {
          background-color: #407ce8;
          display: inline-block;
          color: #fff;
          font-weight: 700;
          font-size: 10px;
          padding: 2px 5px;
          border-radius: 3px;
          margin-bottom: 5px;
        }
        .title {
          max-height: 62px;
          overflow: hidden;
          transition: all 0.2s ease-in-out;
          color: #fff;
          font-weight: 500;
          font-size: 13px;
        }
      }
    }
  }
}
.categoryheader {
  display: flex;
  margin: 20px 0;
}
.category-icon {
  margin-left: 10px;
}
.category-section {
  width: 100%;
  display: flex;
  gap: 15px;
  .category-subtitle {
    font-weight: normal;
    color: #888;
    margin-left: 5px;
  }
  .catocard {
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    width: 268px;
    height: 360px;
    .catocard-bg {
      height: 230px;
      background-size: cover;
      background-position: center;
    }
  }
}
.catocard-content {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}
.catocard-title {
  max-height: 72px;
  font-weight: 500;
  line-clamp: 3;
  -moz-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info2 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #bdbdbd;
  font-size: 12px;
  img {
    width: 12px;
    height: 12px;
  }
}
.info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #bdbdbd;
  font-size: 12px;
  border-top: 1px solid #f1f1f1;
  padding-top: 5px;
  margin-top: 5px;
  img {
    width: 12px;
    height: 12px;
  }
}
.cardtext2 {
  max-height: 72px;
  font-weight: 500;
  line-clamp: 3;
  -moz-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  margin-top: 7px;
}
.comiccard {
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  width: 550px;
}
.comic-card-bg {
  height: 150px;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
footer {
  padding: 50px 0;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px;
  div {
    display: flex;
  }
  div div {
    margin: 0 0 10px 30px;
    display: flex;
    gap: 20px;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: #bdbdbd97 1px solid;
  padding: 30px 0 0 0;
}
.svgs {
  display: flex;
  gap: 10px;
  svg {
    fill: rgba(0, 0, 0, 0.229);
  }
}
.ent {
  background-color: #1a1a1a;
  margin: 60px 0 0;
  padding: 50px 0 0;
}
.ent-card {
  max-width: 270px;
  aspect-ratio: 270/283;
  width: 100%;
  position: relative;
}
.ent-img {
  position: absolute;
  width: 45px;
  height: 35px;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: 10;
}
.ent-row {
  display: flex;
  gap: 15px;
  padding-bottom: 50px;
}
.column-bottom {
  margin-top: 50px;
  max-width: 340px;
  margin-left: -50px;
  background-color: #fdfaf5;
  h2 {
    padding: 30px 50px 10px;
  }
}
.more {
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.rowright {
  padding-left: 120px;
}
.flexnum {
  display: flex;
  padding-bottom: 40px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}
.flexnum:hover {
  transform: scale(1.04);
}
.flexnum:hover p {
  color: #888;
}
.number {
  font-weight: 700;
  color: #e00034;
  font-size: 46px;
  line-height: 46px;
  margin-right: 15px;
}
.asidetext {
  padding: 0 50px 50px 50px;
}
div:has(> .hidden) {
  background-size: 130%;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
div:has(> .hidden):hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transition: opacity 0.5s ease;
  overflow: hidden;
  border-radius: 5px;
}
div:has(> .hidden):hover {
  background-size: 140%;
}
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
  position: relative;
}
div:has(> .hidden):hover .hidden {
  opacity: 1;
}
.arrow p:hover {
  color: #888;
}
.large-card:hover {
  background-size: 250%;
}
.small-card:hover {
  background-size: 250%;
}
.ads {
  display: flex;
  margin-bottom: 22px;
  max-width: 690px;
  aspect-ratio: 690/245;
  position: relative;
  background-position: center;
  background-size: cover;
}
.dotcontainer {
  display: flex;
  gap: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 6px;
}
.dot {
  margin-left: 3px;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}
